.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-width: 1000px;
    margin: 0 auto;
}

.op-br {
    border-radius: 10px;
}

.main {
    height: 250px;
    background-color: #0865;
}

.tool {
    height: 250px;
    background-color: #9095;
}

.cards {
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
    background-color: #f805;
}
.card {
    min-width: 250px;
    height: 200px;
    border: 1px solid #000;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    overflow: hidden;
}

.card .img {
    height: 100px;
    background-color: #888;
}